.entry {
    border: 1px solid $grey-lighter;
    color: $grey-light;
    padding: 10px 16px;
    font-size: 1.2em;
    margin-bottom: $base-unit;

    h1 {
        margin: 20px 0;
    }

    p {
        text-align: justify;
        line-height: 2em;
    }
}